body {
    
    margin: auto;
    background-color: #e9edee;
}

main {
    margin: 0 2em
}

header {
    background-color:#222f3f;
    height: 4em;
    width: 100%;
}

header img {
    width: 8rem;
    padding: 0.5rem;
}

.subheader {
    display: inline-block;
    width: 100%;
    background-color: #364759;
    color: white;
    padding: 0.7em 0;
}

.subheader span {
    padding-left: 2em;
}

.guides {
    background-image: url(bg-image.png);
    background-size: contain;
    height: 20em;
    margin: 0;
}

.guides h1 {
    color: white;
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    padding-top: 2em;
    padding-bottom: 0.5em;
}

.guides h2 {
    color: white;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;   
}

.gifts {
    background-color: #ffffff;
    height: 38em;
    display: inline-block;   
    border-radius: 0.15em;
    width: 100%;
    margin: 2em 0;
    padding: 0.5em;
    line-height: 2;
}

.gifts span  {
    padding: 0.7em;
    font-size: 1.2em;
    font-weight: 650;

}
.gifts a {
    text-decoration: none;
    font-size: 0.8em;

}

.gifts img {
    width: 24%;
    height: 32em;
    margin: auto;
    padding: 0;
    border-radius: 1em;
    object-fit: cover;
}

.container1 img {
    width: 100%;
    height: 35em;
    text-align: center;
    display: inline-block; 
}

.container1 p  {
    padding: 0.7em;
    font-weight: 600;
    text-align: center;
    margin-bottom: 2em;
}
.container1 a {
    text-decoration: none;
    font-size: 0.8em;
    color: #085361;
}

.container2 img {
    width: 100%;
    height: 35em;
    text-align: center;
    border: none;
    object-fit: cover;
}

.container2 p  {
    padding: 0.7em;
    font-weight: 600;
    text-align: center;
    margin-bottom: 2em;
}
.container2 a {
    text-decoration: none;
    font-size: 0.8em;
    color: #085361;
}

.img-text {
    margin-top:0;
    margin-bottom: 3em
}

.footerino {
    width: 100%;
    background-color: #364759;
    text-align: center;
    padding: 0.8em 0;
}

.footerino a {
    color: white;
    padding: 5em;
}
.footer {
    background-color:#222f3f;
    height: 12em;
    width: 100%;
    text-align: center;
}

.footer img {
    width: 8rem;
    padding: 4rem;
    text-align: center;
}

.barraArancio {
    width: 100%;
    background-color: #f46600;
    height: 3.5em;
    margin: 3.5em auto;
}

.barraArancio h2 {
    color: white;
    text-align: center;
    padding: 1em;
}
